
html {

  font-size: 20px;

}

body {

  margin: 0;
  padding: 0;

}

#app {

  position: absolute; 

  width: 100%;
  height: 100%;
  
  display: grid;

  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

#app > * {

  border: 2px solid black;

  padding: 20px;

}

main {
 
  grid-column: 2/3;
  
  grid-row: 1/4;

}

#weather {
  
  grid-column: 1/2;
  grid-row: 1/2;

}

#temperature {

  font-size: 1.3rem;

}

#number {
  
  grid-column: 1/2;
  grid-row: 2/3;

}

#cinema { 

  grid-column: 1/2;
  grid-row: 3/4;

}

#contests {

  grid-column: 3/4;
  grid-row: 1/4;

}

h1 {

  font-family: 'Merriweather', serif;

  margin: 10px;

  width: auto;

}

ul {

  list-style-type: none;  

  padding: 10px;

}

ul > li {

  

}
